@model GoatSilencerArchitecture.Models.Gallery

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Gallery</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Title</dt>
        <dd class="col-sm-10">@Model.Title</dd>

        <dt class="col-sm-2">Description</dt>
        <dd class="col-sm-10">@Model.Description</dd>

        <dt class="col-sm-2">Main Image Left</dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.MainImageLeft))
            {
                <img src="@Model.MainImageLeft" class="img-thumbnail" style="max-height:150px;" />
            }
            else
            {
                <span>No main image left</span>
            }
        </dd>

        <dt class="col-sm-2">Main Image Top Right</dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.MainImageTopRight))
            {
                <img src="@Model.MainImageTopRight" class="img-thumbnail" style="max-height:150px;" />
            }
            else
            {
                <span>No main image top right</span>
            }
        </dd>

        <dt class="col-sm-2">Main Image Bottom Right</dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.MainImageBottomRight))
            {
                <img src="@Model.MainImageBottomRight" class="img-thumbnail" style="max-height:150px;" />
            }
            else
            {
                <span>No main image bottom right</span>
            }
        </dd>

        <dt class="col-sm-2">Published</dt>
        <dd class="col-sm-10">@Model.IsPublished</dd>

        <dt class="col-sm-2">Sort Order</dt>
        <dd class="col-sm-10">@Model.SortOrder</dd>

        <dt class="col-sm-2">Created</dt>
        <dd class="col-sm-10">@Model.CreatedUtc</dd>

        <dt class="col-sm-2">Updated</dt>
        <dd class="col-sm-10">@Model.UpdatedUtc</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>
