@model IEnumerable<GoatSilencerArchitecture.Models.Gallery>

@{
    ViewData["Title"] = (ViewData["GalleryType"] as string) + " Galleries";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" asp-route-type="@(ViewData["GalleryType"] as string)" class="btn btn-success">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Main Images</th>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>@Html.DisplayNameFor(model => model.IsPublished)</th>
            <th>@Html.DisplayNameFor(model => model.SortOrder)</th>
            <th>@Html.DisplayNameFor(model => model.CreatedUtc)</th>
            <th>@Html.DisplayNameFor(model => model.UpdatedUtc)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{
                        var mainImageToDisplay = item.MainImageLeft ?? item.MainImageTopRight ?? item.MainImageBottomRight;
                    }
                    @if (!string.IsNullOrEmpty(mainImageToDisplay))
                    {
                        <img src="@mainImageToDisplay" class="img-thumbnail" style="max-height:60px;" alt="Main Image" />
                    }
                    else
                    {
                        <span>-</span>
                    }
                </td>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.IsPublished</td>
                <td>@item.SortOrder</td>
                <td>@item.CreatedUtc</td>
                <td>@item.UpdatedUtc</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
